@model IEnumerable<SpankedPuppy.Data.Models.Restaurant>

@{
    ViewBag.Title = "Restaurants";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create Now", "Create")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_RestaurantSummary", item)
}
